.spent-time {
    font-weight: 700;
    font-size: 24px;
    line-height: 160%;
    color: #6047EC;
    background: rgba(96, 71, 236, 0.1);
    border: 1px solid #6047EC;
    border-radius: 8px;
    padding: 5px;
    text-align: center;
    margin-bottom: 24px;
}