.date {
    font-size: 16px;
    line-height: 160%;
    color: rgba(17, 17, 17, 0.6);
}

.bookmark-time {
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    text-align: right;
    color: rgba(17, 17, 17, 0.6);
}
.bookmark-time span{
    cursor: pointer;
}
.tags {
    font-size: 20px;
    font-weight: 500;
    line-height: 160%;
    color: rgba(17, 17, 17, 0.6);
}

.btn-mark-as-read {
    font-weight: 600;
    margin-top: 16px;
    margin-bottom: 16px;
    font-size: 20px;
    line-height: 24px;
    text-decoration-line: underline;
    color: #6047EC;
    cursor: pointer;
}